<report xmlns="http://developer.cognos.com/schemas/report/13.2/"           expressionLocale="en-us" useStyleVersion="11">
	<modelPath type="FM">/content/folder[@name=&apos;Samples&apos;]/folder[@name=&apos;Models&apos;]/package[@name=&apos;GO sales (query)&apos;]/model[@name=&apos;model&apos;]</modelPath>
	<drillBehavior modelBasedDrillThru="true"/>
	<layouts>
		<layout>
			<reportPages>
				<page name="Page1">
					<style>
						<defaultStyles>
							<defaultStyle refStyle="pg"/>
						</defaultStyles>
						<CSS value="font-family:Consolas;font-size:12pt"/>
					</style>
					<pageBody>
						<style>
							<defaultStyles>
								<defaultStyle refStyle="pb"/>
							</defaultStyles>
						</style>
						<contents>
							<customControl path="/samples/javascript/Events/EventsControl.js"/>
							
							
						</contents>
					</pageBody>
				<pageModule path="/samples/javascript/Events/EventsPageModule.js"/></page>
			</reportPages>
		</layout>
	</layouts>
	<XMLAttributes>
		<XMLAttribute name="RS_CreateExtendedDataItems" value="true" output="no"/>
		<XMLAttribute name="RS_modelModificationTime" value="2010-06-14T20:07:25.203Z" output="no"/>
	<XMLAttribute name="listSeparator" value="," output="no"/></XMLAttributes>
</report>